@font-face{
    font-family: 'Poppins';
    src: url('../../assests/fonts/Poppins-Regular.ttf')
}
$border-radius : 30px;
$mobile-breakpoint : 425px;
$button-color : #fff;
$left-color :#f299d6;
$right-color:#e3e2d5;
.App{
    background-color: rgba(107, 110, 99, 0.726);
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .mobile-left{
        width: 100%;
        display: block;
        border-radius : $border-radius ;
    }
    .mobile-right{
        width: 100%;
        display: none;
        border-radius : $border-radius ;
    }
    .desktop-right{
        display: block;
    }
    .desktop-left{
        display: block;
    }
}

        
       
    
