@font-face{
    font-family: 'Poppins';
    src: url('../../assests/fonts/Poppins-Regular.ttf')
}
$mobile-breakpoint : 425px;
$button-color : #fff;
$left-color :#f299d6;
$right-color:#750e55;
.App{
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
   
   
}
@media (max-width : $mobile-breakpoint){
    .App{
        .right-pane{
            display: none;
        }
        .left-pane{
            width: 100%;
            border-radius: 30px;
        }
    }
}