@font-face{
    font-family: 'Poppins';
    src: url('../../assests/fonts/Poppins-Regular.ttf')
}
$mobile-breakpoint : 425px;
$border-radius : 30px;
$button-color : #fff;
$left-color  : white;
$right-color:#e3e2d5;

.left-pane{
    border-top-left-radius: $border-radius;
    border-bottom-left-radius:$border-radius;
    color: black;
    padding: 40px;
    width: 40%;
    text-align: left;
    background-color: $left-color;
    min-height: 400px;
   
   
    .left-pane-topic{
        padding-bottom: 50px;
        .border-radius{
            border-top-left-radius: $border-radius;
            border-bottom-left-radius:$border-radius;
        }
       
    }
    .invisible-button{
        background-color: $left-color;
        border: none;
        margin-bottom: 20px;
    }
}
