@font-face{
    font-family: 'Poppins';
    src: url('../../assests/fonts/Poppins-Regular.ttf')
}
$mobile-breakpoint : 425px;
$border-radius : 30px;
$button-color : #fff;
$left-color :#f299d6;
$right-color:#750e55;
.right-pane{
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 20px;
    color: $left-color;
    width: 60%;
    background-color: $right-color;
    
    img{
        height : 100px;
        width: 100px;
    }
    label{
        text-align: center;
    }
    textarea{
        border-radius: 20px;
    }
    textarea:focus{
       outline: none;
    }
    button{
        background-color: $left-color;
        color: #fff;
    }
    button:hover{
        color: #000;
    }

}