@font-face{
    font-family: 'Poppins';
    src: url('../../assests/fonts/Poppins-Regular.ttf')
}
$mobile-breakpoint : 425px;
$border-radius : 30px;
$left-color  : white;
$right-color:#e3e2d5;
.right-pane{
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 20px;
    color: black;
    width: 60%;
    background-color: $right-color;
    min-height: 600px;
    .heading-container{
        display: flex;
        justify-content: center;
        .back-button-for-mobile{
            color: $left-color
        }
        .frame-question{
            margin-top: 7px;
        }
    }
    
    img{
        height : 50%;
        width : 50%;
        margin-bottom: 20px;
    }
           
    .option-input{
        display: flex;
    }

    textarea:focus{
        outline: none;
    }
    button{
        
        color: #fff;
    }
    button:hover{
        color: #000;
    }

}

    


