@font-face{
    font-family: 'Poppins';
    src: url('../src/assests/fonts/Poppins-Regular.ttf')
}

html{
    font-family: 'Poppins';

    height: 100%;
    .App{
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .left-pane{
            padding: 40px;
            width: 40%;
            text-align: left;
            background-color: cadetblue;
            .left-pane-topic{
                padding-bottom: 50px;
            }
        }
        .right-pane{
            width: 60%;
            background-color: cornflowerblue;
    
        }
    }
}
