@font-face{
    font-family: 'Poppins';
    src: url('../src/assests/fonts/Poppins-Regular.ttf')
}
$button-color : #fff;
$left-color  : white;
$right-color:#e3e2d5;

html{
    font-family: 'Poppins';
    height: 100%;
    background-color: rgba(107, 110, 99, 0.726);
    input{
        border-radius: 20px;
        padding : 10px;
    }
    
    input:focus{
        outline: none;
    }
    
    button:focus{
        outline:none;
    }
   
}
